.symbol {
  float: left;
  font-size: 80%
}

.trafficInfo {
  float: right;
}

.routeName {
  text-align: right;
  clear: both;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}
