.symbol {
  float: left;
  font-size: 80%
}

.trafficInfo {
  float: right;
}

.routeName {
  text-align: right;
  clear: both;
}

.green {
  color: #83FFB3;
}

.yellow {
  color: #EFFF83;
}

.red {
  color: #FF4C4C;
}
